<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./css/index.css" />
    <title>Portfolio</title>
  </head>
  <body>
    <div id="nav">
      <div class="container">
        <nav>
          <div class="logo">
            <!-- <a href="/"><img src="" alt=""></a> -->
            <a href="/"><h2>Dinny</h2></a>
            <button id="menu"><i class="fa-solid fa-bars"></i></button>
          </div>
          <div class="ul-list" id="ul-list">
            <li><a href="#home">home</a></li>
            <li><a href="#about">about</a></li>
            <li><a href="#service">services</a></li>
            <li><a href="#skills">skills</a></li>
            <li><a href="/project/get" target="_blank">project</a></li>
            <li><a href="#team">team</a></li>
            <li><a href="#contact">contact</a></li>
          </div>
        </nav>
      </div>
    </div>
    <section id="home">
      <div class="container">
        <div class="home">
          <div class="img-slider">
            <div class="slider active">
              <div class="info">
                <div class="info-content content-heading">
                  <p>hello!</p>
                  <h2>
                    hi! I'm dinny <br />
                    kantiwal
                  </h2>
                  <h3>Freelance Web Developer | Bringing Ideas to Life with Code</h3>
                  <div class="button">
                    <a href="#contact"><button>hire me</button></a>
                  </div>
                </div>
                <div class="info-content content-image">
                  <div class="info-content-img">
                    <img src="./image/bg_1.png" alt="" />
                  </div>
                </div>
              </div>
            </div>

            <div class="slider active">
              <div class="info">
                <div class="info-content content-heading">
                  <p>hy!</p>
                  <h2>
                    Expert Web Development Services
                  </h2>
                  <h3>From responsive websites to custom web applications, I create digital solutions tailored to your needs.</h3>
                  <div class="button">
                    <a href="#contact"><button>hire me</button></a>
                  </div>
                </div>
                <div class="info-content content-image">
                  <div class="info-content-img">
                    <img src="./image/bg_2.png" alt="" />
                  </div>
                </div>
              </div>
            </div>

            <div class="navigation">
              <div class="btn active"></div>
              <div class="btn"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="about">
      <div class="container">
        <div class="about">
          <div class="about-content about-image">
            <div class="about-pic">
              <img src="./image/bg_1.png" alt="" />
            </div>
          </div>
          <div class="about-content about-item">
            <h2>about me</h2>
            <p>
              I’m Dinesh, a passionate web developer specializing in creating responsive, user-friendly websites and dynamic web applications. With expertise in Node.js, EJS, and React js modern web technologies, I turn your ideas into stunning digital experiences.
            </p>
            <div class="detail">
              <div class="detail-item">
                <h4>name:</h4>
                <p>dinesh</p>
              </div>

              <div class="detail-item">
                <h4>date of birth:</h4>
                <p>10 / March / 2001</p>
              </div>

              <div class="detail-item">
                <h4>address:</h4>
                <p>uklana mandi distt hisar</p>
              </div>

              <div class="detail-item">
                <h4>zip code:</h4>
                <p>125113</p>
              </div>

              <div class="detail-item">
                <h4>email:</h4>
                <p>tkddinny@gmail.com</p>
              </div>

              <div class="detail-item">
                <h4>phone:</h4>
                <p>+91 83078 - 88039</p>
              </div>

              <div class="project">
                <span>5</span>
                <p>project complete</p>
              </div>

              <div class="cv-button">
                <a href="./cv/Dinesh.pdf" download=""
                  ><button>download cv</button></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="service">
      <div class="container">
        <div class="service">
          <div class="service-heading">
            <h2>services</h2>
            <p>
              Creating dynamic and interactive web applications that offer rich user experiences and streamlined business processes.
            </p>
            <div class="service-card">
              <div class="single-card">
                <i class="fa-solid fa-code"></i>
                <h5>web designing</h5>
                <span></span>
              </div>

              <div class="single-card">
                <i class="fa-regular fa-file-code"></i>
                <h5>web development</h5>
                <span></span>
              </div>

              <div class="single-card">
                <i class="fa-solid fa-magnifying-glass"></i>
                <h5>SEO </h5>
                <span></span>
              </div>

              <div class="single-card">
                <i class="fa-brands fa-figma"></i>
                <h5>graphic design</h5>
                <span></span>
              </div>

              <div class="single-card">
                <i class="fa-solid fa-gears"></i>
                <h5>Website Maintenance</h5>
                <span></span>
              </div>

              <div class="single-card">
                <i class="fa-solid fa-chart-pie"></i>
                <h5>Performance Optimization</h5>
                <span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="skills">
      <div class="container">
        <div class="skills">
          <div class="skills-heading">
            <h2>skills</h2>
            <p>
              Capable of developing robust server-side application and RESTful APIs to support front end functionalities.
            </p>
          </div>

          <div class="skill-container">
            <!-- html -->
            <div class="html">
              <div class="html-content">
                <!-- <p>html</p> -->
                <p><i class="fa-brands fa-html5"></i> html</p>
                <p>90%</p>
              </div>
              <div class="html-skill">
                <div class="html-pre"></div>
              </div>
            </div>
            <!-- html -->

            <!-- css -->
            <div class="css">
              <div class="css-content">
                <p><i class="fa-brands fa-css3-alt"></i> scss</p>
                <p>85%</p>
              </div>
              <div class="css-skill">
                <div class="css-pre"></div>
              </div>
            </div>
            <!-- css -->

            <!-- js -->
            <div class="js">
              <div class="js-content">
                <p><i class="fa-brands fa-square-js"></i> javascript</p>
                <p>80%</p>
              </div>
              <div class="js-skill">
                <div class="js-pre"></div>
              </div>
            </div>
            <!-- js -->

            <!-- react -->
            <div class="react">
              <div class="react-content">
                <p><i class="fa-brands fa-react"></i> react js</p>
                <p>70%</p>
              </div>
              <div class="react-skill">
                <div class="react-pre"></div>
              </div>
            </div>
            <!-- js -->

            <!-- node -->
            <div class="node">
              <div class="node-content">
                <p><i class="fa-brands fa-node-js"></i> node js</p>
                <p>75%</p>
              </div>
              <div class="node-skill">
                <div class="node-pre"></div>
              </div>
            </div>
            <!-- node -->

            <!-- mongodb -->
            <div class="mongodb">
              <div class="mongodb-content">
                <p><i class="fa-solid fa-database"></i> mongo db</p>
                <p>80%</p>
              </div>
              <div class="mongodb-skill">
                <div class="mongodb-pre"></div>
              </div>
            </div>
            <!-- mongodb -->

            <!-- express -->
            <div class="express">
              <div class="express-content">
                <p><i class="fa-solid fa-file-code"></i> express</p>
                <p>80%</p>
              </div>
              <div class="express-skill">
                <div class="express-pre"></div>
              </div>
            </div>
            <!-- express -->

            <!-- mongoose -->
            <div class="mongoose">
              <div class="mongoose-content">
                <p><i class="fa-regular fa-file-code"></i> mongoose</p>
                <p>80%</p>
              </div>
              <div class="mongoose-skill">
                <div class="mongoose-pre"></div>
              </div>
            </div>
            <!-- mongoose -->
          </div>
        </div>
      </div>
    </section>

    <section id="team">
      <div class="container">
        <div class="team-heading">
          <h2>team</h2>
        </div>
        <div class="team">
          <div class="team-card">
            <div class="card-image">
              <img src="./image/suman-sir-1.jpg" alt="" />
            </div>
            <div class="card-content">
              <h5>web developer</h5>
              <p>suman podder</p>
            </div>

            <div class="team-card-1">
              <div class="card-image-1">
                <img src="./image/suman-sir-2.jpg" alt="" />
              </div>

              <div class="card-content-1">
                <h6>web developer</h6>
                <div>
                  <p>suman podder</p>
                  <div class="card-icon">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-pinterest"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="team-card">
            <div class="card-image">
              <img src="./image/deepak-sir-1.jpg" alt="" />
            </div>
            <div class="card-content">
              <h5>marketing expert</h5>
              <p>deepak arora</p>
            </div>

            <div class="team-card-1">
              <div class="card-image-1">
                <img src="./image/deepak-sir-2.jpg" alt="" />
              </div>

              <div class="card-content-1">
                <h6>marketing expert</h6>
                <div>
                  <p>deepak arora</p>
                  <div class="card-icon">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-pinterest"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="team-card">
            <div class="card-image">
              <img src="./image/dinny-1.jpg" alt="" />
            </div>
            <div class="card-content">
              <h5>web developer</h5>
              <p>dinesh kantiwal</p>
            </div>

            <div class="team-card-1">
              <div class="card-image-1">
                <img src="./image/dinny-2.jpg" alt="" />
              </div>

              <div class="card-content-1">
                <h6>web developer</h6>
                <div>
                  <p>dinesh</p>
                  <div class="card-icon">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-pinterest"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="team-card">
            <div class="card-image">
              <img src="./image/man.jpg" alt="" />
            </div>
            <div class="card-content">
              <h5>web developer</h5>
              <p>ajay sheokant</p>
            </div>

            <div class="team-card-1">
              <div class="card-image-1">
                <img src="./image/man.jpg" alt="" />
              </div>

              <div class="card-content-1">
                <h6>web developer</h6>
                <div>
                  <p>ajay sheokant</p>
                  <div class="card-icon">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-pinterest"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="team-card">
            <div class="card-image">
              <img src="./image/vikas-sir.png" alt="" />
            </div>
            <div class="card-content">
              <h5>graphic designer</h5>
              <p>vikas sharma</p>
            </div>

            <div class="team-card-1">
              <div class="card-image-1">
                <img src="./image/vikas-sir.png" alt="" />
              </div>

              <div class="card-content-1">
                <h6>graphic designer</h6>
                <div>
                  <p>vikas sharma</p>
                  <div class="card-icon">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-pinterest"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="team-card">
            <div class="card-image">
              <img src="./image/nagender-sir.jpg" alt="" />
            </div>
            <div class="card-content">
              <h5>SEO expert</h5>
              <p>nagender grewal</p>
            </div>

            <div class="team-card-1">
              <div class="card-image-1">
                <img src="./image/nagender-sir.jpg" alt="" />
              </div>

              <div class="card-content-1">
                <h6>SEO expert</h6>
                <div>
                  <p>nagender grewal</p>
                  <div class="card-icon">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-pinterest"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="contact">
          <div class="contact-heading">
            <h2>Contact Me</h2>
            <p>
              Let's build something amazing together! Get in touch to discuss your project
            </p>
          </div>

          <div class="contact-icon">
            <div class="icon-box">
              <i class="fa-solid fa-map-location-dot"></i>
              <h5>address</h5>
              <p>uklana mandi (Hissar) pincode 125113</p>
            </div>

            <div class="icon-box">
              <a href="tel:+91 8307888039"><i class="fa-solid fa-phone"></i></a>
              <h5>contact</h5>
              <p>+91 8307888039</p>
            </div>

            <div class="icon-box">
              <i class="fa-solid fa-envelope"></i>
              <h5>email</h5>
              <p>tkddinny@gmail.com</p>
            </div>

            <div class="icon-box">
              <a href="#"><i class="fa-solid fa-globe"></i></a>
              <h5>website</h5>
              <a href="#">website</a>
            </div>
          </div>

          <div class="contact-content">
            <div class="contact-item contact-image">
              <div class="contact-pic">
                <img src="./image/bg_1.png" alt="" />
              </div>
            </div>
            <div class="contact-item contact-form">
              <div class="form">
                <form action="/user/create" method="post">
                  <div class="input-wrapper">
                    <p>name</p>
                    <div class="input">
                      <input type="text" name="name" placeholder="Name" />
                    </div>
                  </div>

                  <div class="input-wrapper">
                    <p>email</p>
                    <div class="input">
                      <input type="email" name="email" placeholder="Email" />
                    </div>
                  </div>

                  <div class="input-wrapper">
                    <p>subject</p>
                    <div class="input">
                      <input type="text" name="subject" placeholder="Subject" />
                    </div>
                  </div>

                  <div class="input-wrapper">
                    <p>message</p>
                    <div class="text">
                      <textarea name="message" placeholder="Message"></textarea>
                    </div>
                  </div>

                  <div class="submit">
                    <input type="submit" />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer id="footer">
      <div class="container">
        <div class="footer">
          <div class="footer-content">
            <h6>about</h6>
            <p>
              Creative web developer with a passion for building unique and engaging web experiences.
            </p>
            <h6>social</h6>
            <div class="footer-icon">
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href=""><i class="fa-brands fa-whatsapp"></i></a>
              <a href=""><i class="fa-brands fa-twitter"></i></a>
            </div>
          </div>

          <div class="footer-content">
            <h6>companies</h6>
            <ul>
              <li>reload digital india</li>
              <li>reflect solution</li>
              <li></li>
            </ul>
          </div>

          <div class="footer-content">
            <h6>Technologies I Use</h6>
            <ul>
              <li>
                <a href="#home"
                  ><i class="fa-solid fa-arrow-right-long"></i> home</a
                >
              </li>
              <li>
                <a href="#about"
                  ><i class="fa-solid fa-arrow-right-long"></i> about</a
                >
              </li>
              <li>
                <a href="#service"
                  ><i class="fa-solid fa-arrow-right-long"></i> service</a
                >
              </li>
              <li>
                <a href="/user/project"
                  ><i class="fa-solid fa-arrow-right-long"></i> project</a
                >
              </li>
              <li>
                <a href="#contact"
                  ><i class="fa-solid fa-arrow-right-long"></i> contact</a
                >
              </li>
            </ul>
          </div>

          <div class="footer-content">
            <h6>Services</h6>
            <ul>
              <li>Web Designing</li>
              <li>Web Development</li>
              <li>SEO</li>
              <li>Graphic Design</li>
              <li>Website Maintenance</li>
              <li>Performance Optimization</li>
              <li>digital marketing</li>
            </ul>
          </div>
          <div class="footer-content">
            <h6>Have a Questions?</h6>
            <span>
              <p><i class="fa-solid fa-location-dot"></i></p>
              <p>Uklana Mandi (Hissar) Pincode 125113</p>
            </span>

            <span>
              <p><i class="fa-solid fa-phone"></i></p>
              <p>+91 83078-88039</p>
            </span>

            <span>
              <p><i class="fa-solid fa-envelope"></i></p>
              <p>dinny@gmail.com</p>
            </span>
          </div>
        </div>
        <div class="copy-right">
          <p>
            Copyright &copy;2024 All rights reserved | developed by dinesh kantiwal ( dinny )
          </p>
          <h6>Marketed By <span><a href="#">Reload Digital India</a></span></h6>
        </div>
      </div>
    </footer>
  </body>
  <script src="./js/index.js"></script>
</html>
